$default-font-family ?= sans-serif;
$monospace-font-family ?= monospace;
$title-font-family ?= $default-font-family;


// Extends
$basefont
  font-family: $default-font-family;
$monofont
  font-family: $monospace-font-family;
$titlefont
  font-family: $title-font-family;
  text-transform: uppercase;
