<!DOCTYPE html>
<html lang="nl" class="no-js nl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>| pageTitle</title>

    <meta name="description" content="Description">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="<%= imgDirPath %>/favicons/favicon.ico">
    <link rel="apple-touch-icon" href="<%= imgDirPath %>/favicons/touch-icon-precomposed.png">

    <!-- build:css -->
    <link rel="stylesheet" href="<%= cssDirPath %>/style.css">
    <!-- endbuild -->

    <!-- inject:head:js -->
    <!-- endinject -->
  </head>
  <body>


    <!-- inject:js -->
    <!-- endinject -->

    <!-- build:js -->
    <script src="<%= jsDirPath %>/script.js"></script>
    <!-- endbuild -->
  </body>
</html>
