/* ========================================================================== */
/* Extends and Helpers                                                        */
/* ========================================================================== */

%borderbox { box-sizing: border-box; }

%left { float: left; }
%right { float: right; }
%clear { @include clearfix(); }

%transition { transition: $base-transition; }
