/* ========================================================================== */
/* Base Type                                                                  */
/* ========================================================================== */

$headers: 'h1, h2, h3, h4, h5, h6';
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

#{$headers} {
  foo: bar;
}

#{$a-tags} {
  color: $default-link-color;
}

#{$a-tags-hover} {
  color: $default-link-hover-color;
}
