// ==========================================================================
// Fonts
// ==========================================================================

// Font-weights
// Thin (Hairline): 100
// Extra Light (Ultra Light): 200
// Light: 300
// Normal: 400
// Medium: 500
// Semi Bold (Demi Bold): 600
// Bold: 700
// Extra Bold (Ultra Bold): 800
// Black (Heavy): 900

<% if(customIconfontOption){ %>@font-face {
  font-family: "<%= customIconFontName %>";
  src: url('<%= customIconFontName %>.eot');
  src: url('<%= customIconFontName %>.eot?#iefix') format('eot'),
    url('<%= customIconFontName %>.woff2') format('woff2'),
    url('<%= customIconFontName %>.woff') format('woff'),
    url('<%= customIconFontName %>.ttf') format('truetype'),
    url('<%= customIconFontName %>.svg#<%= customIconFontName %>') format('svg');
  font-weight: normal;
  font-style: normal;
}<% } %>







// Extends
%basefont { font-family: if(variable-exists(default-font-family), $default-font-family, sans-serif); }
%monofont { font-family: if(variable-exists(monospace-font-family), $monospace-font-family, monospace); }<% if(customIconfontOption){ %>
%iconfont { font-family: if(variable-exists(icon-font-family), $icon-font-family, '<%= customIconFontName %>'); }<% } %>
%titlefont {
  font-family: if(variable-exists(title-font-family), $title-font-family, sans-serif);
  text-transform: uppercase;
}
