<% if(includeSusy){ %>
// Documentation:
// http://susydocs.oddbird.net/en/latest/
$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

$shorthand: 12 1/4 fluid float inside;
<% } %><% if(includeJeet){ %>
// Documentation:
// http://jeet.gs/
<% } %><% if(includeNeat){ %>
// Documentation:
// https://thoughtbot.github.io/neat-docs/latest/
<% } %>
